.pandaCard{
    border: 0px;
}
.pandafooter{
    border: 0px;
    background-color: white;
}

.catagories img{
    width:100px;
    margin-left: 80px;
} 

.panda-slide{
    background-color: rgb(248, 171, 171);
    border-radius: 12px;
}